annotated-doc
anyio
asttokens
certifi
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
nest-asyncio
networkx
numpy
packaging
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
PyYAML
pyzmq
rich
safetensors
scikit-learn
scipy
setuptools
shellingham
six
stack-data
sympy
threadpoolctl
timm
torch
torchvision
tornado
tqdm
traitlets
typer
typer-slim
typing_extensions
wcwidth
widgetsnbextension